pkgbase = eid-mw
	pkgdesc = The eID middleware for the Belgian eID
	pkgver = 4.0.4
	pkgrel = 1
	url = http://eid.belgium.be/fr/utiliser_votre_eid/installer_le_logiciel_eid/linux/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = autoconf
	makedepends = automake
	makedepends = java-runtime
	depends = pcsclite
	depends = gtk2
	optdepends = firefox: extension for Belgian eid
	options = !libtool
	source = http://eid.belgium.be/fr/binaries/eid-mw-4.0.4-1253_tcm226-178475.tgz
	md5sums = 485eb2ebafd44efaf0b487122485ecf8

pkgname = eid-mw

